body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #0f172a;
  color: white;
}

input, button {
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #22c55e;
  font-weight: bold;
}

.malware {
  background: black;
  color: lime;
}

#scanBox {
  font-size: 20px;
  margin-top: 20px;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #22c55e;
}
